.zh-sm{
	position: relative;
    min-height: 1px;
    float: left;
}

.zh-password-l{
	width:16.66666667%!important;
}

.zh-password-r{
	width:50%!important;
}
.zh-addDate{
	width:80%!important;
}
.zh-remenberPwd{
	width:80%!important;
}

.zh-verificationButton{
	
}
.zh-tip{
	
}

.zh-label{
	text-align: left!important;
}
.zh-value{
	
}


